
<div class="jumbotron">
  <div class="container">


   <b><h3>Welcome to Owens Corning Favourite Pink Panther Page. Please upload your favourite pink panther image by clicking --->"Upload Image" Tab</h3></b>

   </p>
  </div>
</div>



  <hr>
<br>
<br>



<br>
<br>
<br>
<br>
<br>
  <footer>
    <p>&copy;1996-2015 Owens Corning</p>
  </footer>
</div> <!-- /container -->
