
<div class="jumbotron">
  <div class="container">


    <p>Welcome to Owens Corning Favourite Pink Panther Page. Please upload your favourite pink panther image</p>

    <p><a class="btn btn-primary btn-lg" href="#" role="button">Upload Now&raquo;</a></p>
  </div>
</div>



  <hr>

  <footer>
    <p>&copy; Owens Corning 2015</p>
  </footer>
</div> <!-- /container -->
